@model Domain.Models.Store

@{
    ViewData["Title"] = "Details";
}

<div style="display:flex; justify-content:center; align-items: center;">
    <div style="text-align: center; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15); border-radius: 10px; padding: 20px; margin: 20px auto; width: 50%;">
        <br>
        <h2>@Html.DisplayFor(model => model.StoreName)</h2>
        <br>
        <p>@Html.DisplayFor(model => model.Email)</p>
        <br>
        <h5>Telefone: @Html.DisplayFor(model => model.Phone)</h5>
        <br>
        <h5>CEP: @Html.DisplayFor(model => model.Adress)</h5>

        <div style="margin-top: 20px;">
            @Html.ActionLink("Editar", "Edit", new { id = Model.StoreId }, new { @class = "bi bi-pencil-square btn btn-outline-warning" }) |
            @Html.ActionLink("Voltar", "Index", "Store", null, new { @class = "btn btn-outline-primary" })
        </div>
    </div>
</div>


