@model Domain.Models.StockItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StockItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QTY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QTY)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockProduct.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockStore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockStore.StoreName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StockId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
