@model IEnumerable<Domain.Models.StockItem>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between align-items-center">
    <h3>Itens em estoque</h3>
    <form asp-action="Index" asp-controller="StockItems" method="get" class="d-flex">
        <input type="text" name="name" class="form-control me-2" placeholder="Buscar produto..." />
        <button type="submit" class="btn btn-outline-primary">Buscar</button>
    </form>

    <a asp-action="Create" class="bi bi-plus-circle btn btn-outline-primary"> Adicionar</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Loja</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.StockStore.StoreName</td>
                <td>@item.StockProduct.ProductName</td>
                <td>@item.QTY</td>
                <td style="vertical-align: middle;">
                    @Html.ActionLink("Editar", "Edit", new { id = item.StockId }, new { @class = "bi bi-pencil-square btn btn-outline-warning" }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.StockId }, new { @class = "bi bi-eye-fill btn btn-outline-primary" }) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.StockId }, new { @class = "bi bi-trash btn btn-outline-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
