@model IEnumerable<Domain.Models.StockItem>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<h2>Lista de Itens de Estoque</h2>

<table class="table">
    <thead>
        <tr>
            <th>Loja</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.StockStore.StoreName</td>
                <td>@item.StockProduct.ProductName</td>
                <td>@item.QTY</td>
                <td>@item.StockId</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StockId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.StockId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.StockId })
                </td>
            </tr>
        }
    </tbody>
</table>
